<module version="2.0">
	<meta>
		<identity>
			<uri>urn:org:javamag:helloworld</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>java magazine / hello world</name>
			<description>java magazine / hello world</description>
		</info>
	</meta>
	
	<system>
		<dynamic/>
	</system>
	
	<rootspace 
		name="javamag helloworld"
		public="true"
		uri="urn:org:javamag:helloworld">
		
        <literal type="xml" uri="res:/etc/system/SimpleDynamicImportHook.xml">
			<connection>
				<type>HTTPFulcrum</type>
			</connection>
        </literal>
		
		<literal type="string" uri="res:/javamag/helloworld-literal">Hello World</literal>
		
		<accessor>
			<id>javamag:helloworld:accessor</id>
			<class>org.javamag.helloworld.HelloWorldAccessor</class>
			<grammar>res:/javamag/helloworld-accessor</grammar>
		</accessor>
		
		<mapper>
		  <config>
		  	<endpoint>
		  		<grammar>res:/javamag/helloworld-data</grammar>
		  		<request>
		  			<identifier>data:text/plain,Hello World</identifier>
		  		</request>
		  	</endpoint>
		  </config>
		  <space></space>
		</mapper>
		
		<import>
			<uri>urn:org:javamag:helloworld:internal</uri>
			<private/>
		</import>
	</rootspace>
	
	<rootspace 
		name="javamag helloworld internal"
		public="false"
		uri="urn:org:javamag:helloworld:internal">
		
		<import>
			<!-- contains data:/ scheme -->
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
	</rootspace>
</module>
