
/* page.css */

@font-face { font-family: "Lato Regular"; src: url(../fonts/Lato/Lato-Regular.ttf);}
@font-face { font-family: "Lato Light"; src: url(../fonts/Lato/Lato-Light.ttf);}
@font-face { font-family: "Lato Hairline"; src: url(../fonts/Lato/Lato-Hairline.ttf);}

*
{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	line-height: 1em;
	outline: none;
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
}

body
{
	background-color: #fff;
	font-family: "Lato Light", "Helvetica Neue", "Helvetica", sans-serif;
	color: #404040;
    border-top: 2px solid #aa332b;
    font-size: 16px;
    min-height: 100%;
    position: relative;
}

h1, h2, h3, h4, h5, h6
{
	font-family: "Lato Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header,
#content,
#footer > div
{
    width: 1000px;
    margin: 0 auto;
}

#logo 
{
    clear: both;
}

#logo a 
{
    background: transparent url(../img/kbodata-logo.png) 0 0 no-repeat;
    display: block;
    width: 175px;
    height: 25px;
    margin: 32px 0 0 0;
}

#logo a span 
{
    display: none;
}

#lang-nav
{
    position: fixed;
    left: 0;
    top: 50%;
    background-color: #555;
    display: inline-block;
    padding: 0 8px 0 8px;
    margin-top: -100px;
}

#lang-nav a
{
	font-family: "Lato Hairline", "Helvetica Neue", "Helvetica", sans-serif;
    display: block;
    padding: 0 5px;
    color: #f0f0f0;
    line-height: 2em;
    vertical-align: middle;
}

#lang-nav a:hover {
    color: #fff;
}

body[data-lang="nl"] #lang-nav a[data-lang="nl"],
body[data-lang="fr"] #lang-nav a[data-lang="fr"],
body[data-lang="de"] #lang-nav a[data-lang="de"]
{
    font-weight: bold;
    color: #fff;
	font-family: "Lato Regular", "Helvetica Neue", "Helvetica", sans-serif;
    text-decoration: none;
}

body[data-lang] #content [xml\:lang] {
    display: none;
}
body[data-lang="nl"] #content [xml\:lang="nl"],
body[data-lang="fr"] #content [xml\:lang="fr"],
body[data-lang="de"] #content [xml\:lang="de"]
{
    display: block;
}

.export-options {
    margin: 40px 0 10px;
    text-align: right;
    font-size: 13px;
}

.export-options a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    color: #aa322b;
    border: none;
    outline: none;
}

.export-options a img {
    border: none;
    outline: none;
}

.export-options a:first-child {
    font-weight: bold;
    color: #555;
	font-family: "Lato Regular", "Helvetica Neue", "Helvetica", sans-serif;
}

h1
{
    border-top: 2px solid #aa332b;
    background-color: #f0f0f0;
    font-size: 36px;
    line-height: 1.2em;
    color: #aa332b;
    padding: 0.2em 16px;
}

h1 span {
    display: block;
    margin: 0.5em 0;
}

h2, h3
{
    border-top: 1px solid #aa332b;
    background-color: #f0f0f0;
    font-size: 24px;
    line-height: 1.2em;
    color: #aa332b;
    padding: 0.2em 16px;
}

#content 
{
    padding-bottom: 70px;
}

#content h3 {
    margin-bottom: 24px;
}

#footer 
{
    background-color: #555;
    color: #d8d8d8;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

#footer a {
    display: inline-block;
    color: #d8d8d8;
    text-decoration: none;
    line-height: 48px;
    margin: 0 0 0 24px;
    opacity: 0.9;
}

#footer a:hover {
    color: #fff;
    opacity: 1;
}

#footer a span {
    line-height: 48px;
}

#footer .powered-by a span {
    display: none;
}

#footer .copyright {
    float: left;
    width: 48%;
    line-height: 48px;
    height: 48px;
    overflow: hidden;
}

#footer .powered-by {
    float: right;
    width: 48%;
    line-height: 48px;
    text-align: right;
    height: 48px;
    overflow: hidden;
}

#footer .proxml {
    background: transparent url(../img/proxml-logo.png) left center no-repeat;
    display: inline-block;
    padding-left: 60px;
}

#footer .elephantbird {
    background: transparent url(../img/elephantbird-logo.png) left center no-repeat;
    display: inline-block;
    padding-left: 40px;
}

#footer .netkernel {
    background: transparent url(../img/netkernel-logo.png) left center no-repeat;
    display: inline-block;
    width: 125px;
    height: 48px;
}

#footer .stardog {
    background: transparent url(../img/stardog-logo.png) left center no-repeat;
    display: inline-block;
    width: 160px;
    height: 48px;
}
