<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:com:elbeesee:idvlaanderen:server</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>elbeesee / idvlaanderen / server</name>
			<description>elbeesee / idvlaanderen / server</description>
		</info>
	</meta>

	<system>
		<dynamic/>
	</system>


	<rootspace 
		name="elbeesee idvlaanderen server" 
		public="true"
		uri="urn:com:elbeesee:idvlaanderen:server">
		
        <literal type="xml" uri="res:/etc/system/SimpleDynamicImportHook.xml">
			<connection>
				<type>IDVlaanderen</type>
			</connection>
        </literal>
		        
		<endpoint>
			<prototype>Limiter</prototype>
			<grammar>res:/etc/
				<regex type="anything"/>
			</grammar>
		</endpoint>

        <fileset>
        	<regex>res:/css/(.*)</regex>
        	<rewrite>res:/resources/css/$1</rewrite>
        </fileset>
        		
        <fileset>
        	<regex>res:/png/(.*)</regex>
        	<rewrite>res:/resources/png/$1</rewrite>
        </fileset>

		<import>
			<!-- Limiter -->
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>

		<overlay>
			<prototype>RESTOverlay</prototype>
			<config>
				<basepath>/</basepath>
				<auto404/>
			</config>
			<space>
				<mapper>
					<config>
						<endpoint>
							<meta>
								<rest>
									<simple></simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
								</rest>
							</meta>
							<grammar>
								<active>
									<identifier>active:idvlaanderenhome</identifier>
								</active>
							</grammar>
							<request>
								<identifier>res:/resources/html/idvlaanderen.html</identifier>
							</request>
						</endpoint>
						<endpoint>
							<meta>
								<rest>
									<simple>fragments</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
									<produces>text/xml</produces>
								    <produces withTransform="active:rdfxml2rdfxml">application/rdf+xml</produces>
								    <produces withTransform="active:rdfxml2turtle">text/turtle</produces>
								    <produces withTransform="active:rdfxml2ntriple">text/plain</produces>
								    <produces withTransform="active:rdfxml2jsonld">application/ld+json</produces>
								    <produces withTransform="active:rdfxml2html+sheet@data:text/plain,fragments">text/html</produces>
								</rest>
							</meta>
							<grammar>
								<active>
									<identifier>active:idvlaanderenfragmentsrestoverlay</identifier>
								</active>
							</grammar>
							<request>
								<identifier>active:idvlaanderenfragments</identifier>
							</request>
						</endpoint>
						<endpoint>
							<meta>
								<rest>
									<simple>keywordsearch</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
								</rest>
							</meta>
							<grammar>
								<active>
									<identifier>active:idvlaanderenkeywordsearchrestoverlay</identifier>
								</active>
							</grammar>
							<request>
								<identifier>active:idvlaanderenkeywordsearch</identifier>
							</request>
						</endpoint>
						<endpoint>
							<meta>
								<rest>
									<simple>sparql</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
								</rest>
							</meta>
							<grammar>
								<active>
									<identifier>active:idvlaanderensparqlrestoverlay</identifier>
								</active>
							</grammar>
							<request>
								<identifier>active:idvlaanderensparql</identifier>
							</request>
						</endpoint>
						<endpoint>
							<meta>
								<rest>
									<simple>reconcile</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
								</rest>
							</meta>
							<grammar>
								<active>
									<identifier>active:idvlaanderenreconcilerestoverlay</identifier>
								</active>
							</grammar>
							<request>
								<identifier>active:idvlaanderenreconcile</identifier>
							</request>
						</endpoint>
						<endpoint>
							<meta>
								<rest>
									<simple>dataset/idvlaanderen.{extension:(rdf|ttl|nt|jsonld|html)}</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
								</rest>
							</meta>
							<grammar>
								<active>
									<identifier>active:idvlaanderenvoidwithextensionrestoverlay</identifier>
									<argument name="extension"/>
								</active>
							</grammar>
							<request>
								<identifier>active:idvlaanderenmetawithextension</identifier>
								<argument name="meta" method="as-string">void</argument>
								<argument name="extension" method="as-string">[[arg:extension]]</argument>
							</request>
						</endpoint>
						<endpoint>
							<meta>
								<rest>
									<simple>dataset/idvlaanderen</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
									<produces>text/xml</produces>
								    <produces withTransform="active:rdfxml2rdfxml">application/rdf+xml</produces>
								    <produces withTransform="active:rdfxml2turtle">text/turtle</produces>
								    <produces withTransform="active:rdfxml2ntriple">text/plain</produces>
								    <produces withTransform="active:rdfxml2jsonld">application/ld+json</produces>
								    <produces withTransform="active:rdfxml2html+sheet@data:text/plain,meta">text/html</produces>
								</rest>
							</meta>
							<grammar>
								<active>
									<identifier>active:idvlaanderenvoidrestoverlay</identifier>
								</active>
							</grammar>
							<request>
								<identifier>active:idvlaanderenmeta</identifier>
								<argument name="meta" method="as-string">void</argument>
							</request>
						</endpoint>
						<endpoint>
							<meta>
								<rest>
									<simple>{owner:(licentie|organisatie)}/{id}.{extension:(rdf|ttl|nt|jsonld|html)}</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>									
								</rest>
							</meta>
							<grammar>
								<active>
									<identifier>active:idvlaanderenbyidwithextensionrestoverlay</identifier>
									<argument name="owner"/>
									<argument name="id"/>
									<argument name="extension"/>
								</active>
							</grammar>
							<request>
								<identifier>active:idvlaanderenbyidwithextension</identifier>
								<argument name="owner" method="as-string">[[arg:owner]]</argument>
								<argument name="id" method="as-string">[[arg:id]]</argument>
								<argument name="extension" method="as-string">[[arg:extension]]</argument>
								<argument name="template" method="as-string">construct</argument>
							</request>
						</endpoint>
						<endpoint>
							<meta>
								<rest>
									<simple>{owner:(licentie|organisatie)}/{id}</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
									<produces>text/xml</produces>
								    <produces withTransform="active:rdfxml2rdfxml">application/rdf+xml</produces>
								    <produces withTransform="active:rdfxml2turtle">text/turtle</produces>
								    <produces withTransform="active:rdfxml2ntriple">text/plain</produces>
								    <produces withTransform="active:rdfxml2jsonld">application/ld+json</produces>
								    <produces withTransform="active:rdfxml2html">text/html</produces>
								</rest>
							</meta>
							<grammar>
								<active>
									<identifier>active:idvlaanderenbyidrestoverlay</identifier>
									<argument name="owner"/>
									<argument name="id"/>
								</active>
							</grammar>
							<request>
								<identifier>active:idvlaanderenbyid</identifier>
								<argument name="owner" method="as-string">[[arg:owner]]</argument>
								<argument name="id" method="as-string">[[arg:id]]</argument>
								<argument name="template" method="as-string">construct</argument>
							</request>
						</endpoint>
					</config>
					<space>
						<import>
							<uri>urn:com:elbeesee:idvlaanderen:server:internal</uri>
							<private/>
						</import>
					</space>
				</mapper>
				<import>
					<uri>urn:com:elbeesee:idvlaanderen:server:internal</uri>
					<private/>
				</import>
			</space>
		</overlay>
		
		<import>
			<!-- RESTOverlay -->
			<uri>urn:org:netkernel:tpt:http</uri>
		</import>
	</rootspace>


	<rootspace 
		name="elbeesee idvlaanderen server internal" 
		public="false"
		uri="urn:com:elbeesee:idvlaanderen:server:internal">
				
		<literal type="string" uri="idvlaanderen:dataset">http://id.vlaanderen.be/dataset/idvlaanderen#id</literal>
		<literal type="xml" uri="res:/etc/pdsConfig.xml">
			<config>
				<zone>IDVlaanderen</zone>
			</config>
		</literal>

		<accessor>
			<grammar>
				<active>
					<identifier>active:idvlaanderenbyid</identifier>
					<argument name="owner" desc="owner" max="1" min="1"/>				
					<argument name="id" desc="id" max="1" min="1"/>
					<argument name="template" desc="template" max="1" min="1"/>
				</active>
			</grammar>
			<prototype>GroovyPrototype</prototype>
			<script>res:/resources/groovy/idvlaanderenbyid.groovy</script>
		</accessor>
		
		<accessor>
			<grammar>
				<active>
					<identifier>active:idvlaanderenbyidwithextension</identifier>
					<argument name="owner" desc="owner" max="1" min="1"/>				
					<argument name="id" desc="id" max="1" min="1"/>
					<argument name="template" desc="template" max="1" min="1"/>
					<argument name="extension" desc="extension" max="1" min="1"/>
				</active>
			</grammar>
			<prototype>GroovyPrototype</prototype>
			<script>res:/resources/groovy/idvlaanderenbyidwithextension.groovy</script>
		</accessor>
		
		<accessor>
			<grammar>
				<active>
					<identifier>active:idvlaanderenmeta</identifier>
					<argument name="meta" desc="meta" max="1" min="1"/>
				</active>
			</grammar>
			<prototype>GroovyPrototype</prototype>
			<script>res:/resources/groovy/idvlaanderenmeta.groovy</script>
		</accessor>

		<accessor>
			<grammar>
				<active>
					<identifier>active:idvlaanderenmetawithextension</identifier>
					<argument name="meta" desc="meta" max="1" min="1"/>
					<argument name="extension" desc="extension" max="1" min="1"/>
				</active>
			</grammar>
			<prototype>GroovyPrototype</prototype>
			<script>res:/resources/groovy/idvlaanderenmetawithextension.groovy</script>
		</accessor>
		
		<accessor>
			<grammar>
				<active>
					<identifier>active:idvlaanderenkeywordsearch</identifier>
				</active>
			</grammar>
			<prototype>GroovyPrototype</prototype>
			<script>res:/resources/groovy/idvlaanderenkeywordsearch.groovy</script>
		</accessor>

		<accessor>
			<grammar>
				<active>
					<identifier>active:idvlaanderenfragments</identifier>
				</active>
			</grammar>
			<prototype>GroovyPrototype</prototype>
			<script>res:/resources/groovy/idvlaanderenfragments.groovy</script>
		</accessor>

		<accessor>
			<grammar>
				<active>
					<identifier>active:idvlaanderensparql</identifier>
				</active>
			</grammar>
			<prototype>GroovyPrototype</prototype>
			<script>res:/resources/groovy/idvlaanderensparql.groovy</script>
		</accessor>
		
		<accessor>
			<grammar>
				<active>
					<identifier>active:idvlaanderenreconcile</identifier>
				</active>
			</grammar>
			<prototype>GroovyPrototype</prototype>
			<script>res:/resources/groovy/idvlaanderenreconcile.groovy</script>
		</accessor>
								
		<accessor>
			<grammar>
				<active>
					<identifier>active:rdfxml2html</identifier>
					<argument name="operand" desc="unfiltered rdfxml" max="1" min="1"/>				
					<argument name="sheet" desc="which stylesheet to use" max="1" min="0"/>				
				</active>
			</grammar>
			<prototype>GroovyPrototype</prototype>
			<script>res:/resources/groovy/rdfxml2html.groovy</script>
		</accessor>

		<fileset>
			<regex>res:/resources/groovy/.*</regex>
		</fileset>

		<fileset>
			<regex>res:/resources/freemarker/.*</regex>
		</fileset>

		<fileset>
			<regex>res:/resources/xsl/.*</regex>
		</fileset>

		<fileset>
			<regex>res:/resources/sparql/.*</regex>
		</fileset>

		<fileset>
			<regex>res:/resources/html/.*</regex>
		</fileset>

		<fileset>
			<regex>res:/resources/json/.*</regex>
		</fileset>
		
		<import>
			<!-- pds:/ scheme -->
			<uri>urn:org:netkernel:mod:pds</uri>
		</import>

		<import>
			<!-- pds backend -->
			<uri>urn:org:netkernel:mod:pds:rdbms:local</uri>
		</import>

		<import>
			<!-- contains active:md5 -->
			<uri>urn:org:netkernel:mod:security</uri>
		</import>
				
		<import>
			<!-- data:/ scheme -->
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
		
		<import>
			<!-- GroovyPrototype -->
			<uri>urn:org:netkernel:lang:groovy</uri>
		</import>
		
		<import>
			<!-- active:freemarker -->
			<uri>urn:org:netkernel:lang:freemarker</uri>
		</import>
				
		<import>
			<!-- active:xsltc -->
			<uri>urn:org:netkernel:xml:core</uri>
		</import>
		
		<import>
			<!-- httpRequest:/, httpResponse:/ scheme -->
			<uri>urn:org:netkernel:tpt:http</uri>
		</import>
		
		<import>
			<!-- JSONObject -->
			<uri>urn:org:netkernel:json:core</uri>
		</import>

		<import>
			<!-- idvlaanderen literals for virtuoso -->
			<uri>urn:com:elbeesee:idvlaanderen:virtuoso</uri>
			<version-min>1.0.0</version-min>
		</import>
		
		<import>
			<!-- active:sparql -->
			<uri>urn:com:elbeesee:triplestore:httpclient:sparql</uri>
			<version-min>1.6.0</version-min>
		</import>

		<import>
			<!-- active:fragments -->
			<uri>urn:com:elbeesee:triplestore:httpclient:fragments</uri>
			<version-min>1.6.0</version-min>
		</import>
		
		<import>
			<!-- active:keywordsearch -->
			<uri>urn:com:elbeesee:triplestore:httpclient:kws:bif</uri>
			<version-min>1.6.0</version-min>
		</import>

		<import>
			<!-- active:reconcile -->
			<uri>urn:com:elbeesee:triplestore:httpclient:reconcile:bif</uri>
			<version-min>1.6.0</version-min>
		</import>
		
		<import>
			<!-- active:rdfxml2rdfxml, active:rdfxml2turtle, active:rdfxml2jsonld, active:rdfxml2ntriple -->
			<uri>urn:com:elbeesee:triplestore:utility</uri>
			<version-min>1.0.0</version-min>
		</import>
	</rootspace>
</module>