<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:com:elbeesee:kbodata:fuseki</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>elbeesee / kbodata / fuseki</name>
			<description>elbeesee / kbodata / fuseki</description>
		</info>
	</meta>

	<system>
		<dynamic/>
	</system>

	<rootspace 
		name="elbeesee kbodata fuseki" 
		public="true"
		uri="urn:com:elbeesee:kbodata:fuseki">		
		
		<literal type="string" uri="kbodata:database">kbo</literal>
		
		<literal type="string" uri="kbodata:query">SELECT ?s ?o WHERE {?s &lt;http://www.w3.org/2004/02/skos/core#prefLabel&gt; ?o .} LIMIT 10</literal>
		
		<literal type="string" uri="kbodata:accept">application/sparql-results+xml</literal>
		
		<literal type="long" uri="kbodata:expiry">86400000</literal>

		<literal type="hds" uri="kbodata:credentials">
			<httpCredentials>
				<host>localhost</host>
				<port>3030</port>
				<username>anonymous</username>
				<password>anonymous</password>
			</httpCredentials>
		</literal>
		
		<literal type="string" uri="kbodata:baseurl">http://data.kbodata.be</literal>
	</rootspace>
</module>